.HeadLine{
 width: 100%;
 background-color: white;
 /* border: 2px solid green; */

}
.HeadLine > h1{
  margin-left: 20px;
  color: #4DDA9E;
  padding: 20px 0px ;
}

.App{
  background-color: #F6F7F8;
  width: 100%;
  height: 100vh;
}

.Word-Counter{
background-color: white;
/* border: 2px solid red; */
max-width: 750px;
margin: 20px auto;
box-shadow: 5px 10px 62px -28px rgba(0,0,0,0.75);
-webkit-box-shadow: 5px 10px 62px -28px rgba(0,0,0,0.75);
-moz-box-shadow: 5px 10px 62px -28px rgba(0,0,0,0.75);
padding: 20px 0px;
}

.word-counter-stat{
  display: flex;
  
  /* flex-direction: row; */
  justify-content: flex-start;
  align-items: flex-start;
}

.word-counter-stat > div{
  /* border: 2px solid red; */
  margin-left: 20px;

}


.word-counter-stat-heading{
  color: #A3A4A5;
  font-weight: bold;
}

.word-counter-stat-text{
  color: black;
  font-weight: 900;
}
.text{
  border-top: 1px solid #A3A4A5;
  width: 90%;
  margin: 0px auto;
}
textarea{
  margin-top: 20px;
  width: 98%;
  min-height: 50vh;
  border: none;

  
}


.font-size-2{
  font-size: 25px;
}

.bold{
  font-weight: bold;
}

textarea:focus, input:focus{
  outline: 0;
}

.Button-Action-Group{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;

}


@media screen and (min-width:600px) {
  .word-counter-stat{
    justify-content: center;
  }

  p{
    text-align: center;
  }
}



